# IDEs
.idea/
*.iml
.settings/
.classpath
.project
.factorypath

# Maven Wrapper
/.mvn/
mvnw
mvnw.cmd

# Build outputs 
/**/target/
/**/logs/
/*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Eclipse metadata
/.metadata/

# Arquivos gerados
*.tmp
*.bak

# Configuração sensível
**/src/main/resources/application.properties