# IDEs
.idea/
*.iml
.settings/
.classpath
.project
.factorypath

# Maven
/target/
/logs/
/*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Eclipse metadata
.metadata/

# Gerado automaticamente
*.tmp
*.bak

#Projeto
src/main/resources/application.properties